.DS_STORE
main.pdf
testfigures/*
tikz/*.pdf
testing/*
*.dep
*.dpth
*.md5
*.tdo
*.synctex(busy)
*.auxlock
*.log
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.idg
*.ilg
*.ind
*.lof
*.lot
*.fdb_latexmk
*.fdb
*.fls
*.mw
*.xml
*.toc
*.gz
*.dvi
*.ps
*.xmpdata
*.xmpi
testing/test_feynman.pdf
figures/flux/alldir-spl-eps-converted-to.pdf
figures/flux/spl-ratio-ally-eps-converted-to.pdf
