.DS_STORE
main.pdf
testfigures/*
tikz/*.pdf
*.dep
*.dpth
*.md5
*.tdo
*.synctex(busy)
*.auxlock
*.log
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.idg
*.ilg
*.ind
*.lof
*.lot
*.fdb_latexmk
*.fdb
*.fls
*.mw
*.xml
*.toc
*.gz
